@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth scroll;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 150%;
  /* max-width: 1920px; */
  margin: 0 auto;
  background: #f1f5f9;
}

.container_fluid {
  @apply mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10;
}
