@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth scroll;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 150%;
  /* max-width: 1920px; */
  margin: 0 auto;
  background: #f1f5f9;
}

.container_fluid {
  @apply mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10;
}
.active{
  @apply text-white bg-menuHover rounded-md pl-5
}

.markdown h3 {
  @apply mb-4 mt-12 text-2xl font-semibold;
}
.markdown h4 {
  @apply mb-4 text-xl font-semibold;
}

.markdown h6 {
  @apply mb-2 mt-6 text-lg font-semibold;
}

.markdown p {
  @apply mb-4 text-gray-700;
}

.markdown code {
  @apply rounded bg-gray-100 px-1 text-red-600;
}

.markdown pre {
  @apply relative my-4 overflow-x-auto rounded-lg bg-gray-800 p-4 text-white;
}

.markdown .group {
  @apply relative;
}

.markdown > button {
  @apply absolute right-2 top-2 rounded bg-gray-200 px-2 py-1 font-bold text-gray-800 opacity-0 transition hover:bg-gray-300 group-hover:opacity-100;
}

.markdown table {
  @apply mt-6 w-full border-collapse rounded-lg bg-white text-left shadow-md;
}

.markdown th {
  @apply border-b bg-gray-100 p-3 font-semibold text-gray-600;
}

.markdown td {
  @apply border-b p-3;
}

.markdown tr:hover {
  @apply bg-gray-50;
}

.markdown tr:nth-child(even) {
  @apply bg-gray-50;
}

.markdown th:first-child,
.markdown td:first-child {
  @apply rounded-l-lg;
}

.markdown th:last-child,
.markdown td:last-child {
  @apply rounded-r-lg;
}
